# Content List

01 Importing Libraries
02 Importing Dataframes
03 Merging 
04 Exporting

# 01 Importing Libraries

In [6]:
import pandas as pd
import numpy as np
import os

# 02 Importing Dataframe

In [7]:
path = r'/Users/a/Career Foundry/Achievement 4/02 Data/02 Prepared Data'

In [8]:
path

'/Users/a/Career Foundry/Achievement 4/02 Data/02 Prepared Data'

In [9]:
df_orders_products_combined = pd.read_pickle(os.path.join(path,'orders_products_combined.pkl'))

In [10]:
df_orders_products_combined.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,time_orders,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1.0,1.0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both
1,1.0,1.0,2398795,1.0,2.0,3.0,7.0,15.0,10258.0,2.0,0.0,both
2,1.0,1.0,2398795,1.0,2.0,3.0,7.0,15.0,12427.0,3.0,1.0,both
3,1.0,1.0,2398795,1.0,2.0,3.0,7.0,15.0,13176.0,4.0,0.0,both
4,1.0,1.0,2398795,1.0,2.0,3.0,7.0,15.0,26088.0,5.0,1.0,both

In [11]:
# Checking shape of dataframe
df_orders_products_combined.shape

(32640698, 12)

In [12]:
# Importing products dataframe

In [13]:
df_products = pd.read_csv(os.path.join(path,'products_cleaned.csv'), index_col = False)

In [14]:
df_products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
df_products.shape

(49677, 6)

# 03 Merging

In [ ]:
# Merging products df with df_orders_products_combined

In [19]:
df_orders_products_merged = df_orders_products_combined.merge(df_products, on = ['product_id'])

In [20]:
df_orders_products_merged.head()

,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,time_orders,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,1.0,1.0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0
1,2.0,2.0,473747,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0
2,3.0,3.0,2254736,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0
3,4.0,4.0,431534,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0
4,5.0,5.0,3367565,1.0,6.0,2.0,7.0,19.0,196.0,1.0,1.0,both,195,Soda,77,7,9.0

In [22]:
df_orders_products_merged['_merge'].value_counts()

both          30329840
right_only     2076201
left_only            0
Name: _merge, dtype: int64

# 04 Exporting

In [23]:
path = r'/Users/a/Career Foundry/Achievement 4/02 Data/02 Prepared Data'

In [ ]:
path

In [ ]:
df_merged.to_csv(os.path.join(path,'orders_products_merged.csv'))