# Content List

01 Importing Libraries and Data
02 Wrangling Procedures
03 Data Checks
04 Combining Dataframes

# 01 Importing Data and Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'/Users/a/Career Foundry/Achievement 4/02 Data/01 Original Data'

In [3]:
path

'/Users/a/Career Foundry/Achievement 4/02 Data/01 Original Data'

In [4]:
df_customers = pd.read_csv(os.path.join(path, 'customers.csv'), index_col = False)

In [5]:
df_customers

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...,...,...
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095

# 02 Wrangling Procedures

In [6]:
# Dropping Columns

df_customers = df_customers.drop(columns = ['date_joined'])

In [7]:
# Renaming columns

df_customers.rename(columns = {'Surnam':'surname', 'STATE':'state',  'fam_status': 'family_status'}, inplace = True)

In [8]:
df_customers.columns

Index(['user_id', 'First Name', 'surname', 'Gender', 'state', 'Age',
       'n_dependants', 'family_status', 'income'],
      dtype='object')

In [9]:
df_customers.shape

(206209, 9)

# 03 Data Checks

In [10]:
# Checking for mixed data types
for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

First Name

In [11]:
df_customers['First Name'] = df_customers['First Name'].astype('str')

In [12]:
# Checking for missing values
df_customers.isnull().sum()

user_id          0
First Name       0
surname          0
Gender           0
state            0
Age              0
n_dependants     0
family_status    0
income           0
dtype: int64

There are no missing values

In [13]:
# Checking for Duplicates
customers_dups= df_customers[df_customers.duplicated()]

In [14]:
customers_dups

Empty DataFrame
Columns: [user_id, First Name, surname, Gender, state, Age, n_dependants, family_status, income]
Index: []

In [15]:
customers_dups.shape

(0, 9)

There are no duplicates

# 04 Combining Dataframes

In [16]:
path = r'/Users/a/Career Foundry/Achievement 4/02 Data/02 Prepared Data'

In [17]:
path

'/Users/a/Career Foundry/Achievement 4/02 Data/02 Prepared Data'

In [18]:
df_ords_prods = pd.read_pickle(os.path.join(path, 'ords_prods_merge_grouped.pkl'))

In [19]:
df_ords_prods.shape

(1629314, 24)

In [20]:
df_customers.shape

(206209, 9)

In [21]:
df_final = df_customers.merge(df_ords_prods, on = 'user_id', how = 'inner')

In [22]:
df_final

,user_id,First Name,surname,Gender,state,Age,n_dependants,family_status,income,order_id,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spendings,spending_flag,order frequency,order_frequency_flag
0,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,2543867,...,Mid-range product,regularly busy,Regularly busy,Fewest orders,8.0,New customer,12.6,High spender,30.0,Regular customer
1,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,1285508,...,Mid-range product,regularly busy,Regularly busy,Fewest orders,8.0,New customer,12.6,High spender,30.0,Regular customer
2,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,2578584,...,Mid-range product,regularly busy,Regularly busy,Fewest orders,8.0,New customer,12.6,High spender,30.0,Regular customer
3,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,423547,...,Mid-range product,regularly busy,Regularly busy,Fewest orders,8.0,New customer,12.6,High spender,30.0,Regular customer
4,26711,Deborah,Esquivel,Female,Missouri,48,3,married,165665,2524893,...,Mid-range product,regularly busy,Regularly busy,Fewest orders,8.0,New customer,12.6,High spender,30.0,Regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1534190,167749,Deborah,Farrell,Female,Florida,28,1,married,30169,2176275,...,Mid-range product,busiest day,Busiest days,Fewest orders,5.0,New customer,12.3,High spender,16.0,Regular customer
1534191,186595,Ruth,Cunningham,Female,Mississippi,38,1,married,92727,1816266,...,Mid-range product,regularly busy,Regularly busy,Fewest orders,6.0,New customer,12.3,High spender,30.0,Regular customer
1534192,186595,Ruth,Cunningham,Female,Mississippi,38,1,married,92727,908811,...,Mid-range product,busiest day,Busiest days,Fewest orders,6.0,New customer,12.3,High spender,30.0,Regular customer
1534193,186595,Ruth,Cunningham,Female,Mississippi,38,1,married,92727,93226,...,Mid-range product,regularly busy,Regularly busy,Fewest orders,6.0,New customer,12.3,High spender,30.0,Regular customer
1534194,199732,Katherine,Abbott,Female,Iowa,71,1,married,31019,2814160,...,Mid-range product,regularly busy,Regularly busy,Fewest orders,3.0,New customer,12.3,High spender,6.0,Frequent customer

In [25]:
# Exporting dataframe

df_final.to_pickle(os.path.join(path,'Achievement 10.pkl'))